div.error-arrow {
    border-top: 0.4rem solid transparent;
    border-left: 0.5rem solid color(var(--redish) blend(var(--background) 30%));
    width: 0;
    height: 0;
}
div.container {
    margin: 0;
    border-radius: 0 0.2rem 0.2rem 0.2rem;
}
div.content {
    padding: 0.4rem 0.4rem 0.4rem 0.7rem;
}
div.content p {
    margin: 0.2rem;
}
div.toolbar {
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}
div.toolbar a {
    text-decoration: none
}
html.dark div.toolbar {
    background-color: #00000018;
}
html.light div.toolbar {
    background-color: #ffffff18;
}